<h1 class="page-header">Score Card</h1>
<table class="table table-striped leaderboard table-bordered table-condensed small" style="width:auto">
  <thead>
    <tr>
      <th></th>
      <%- @board.matches.each do |match| %>
        <th><%= link_to "Match #{match.id}", match.path %></th>
      <%- end -%>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <%= render @board.teams -%>
  </tbody>
</table>
<script type="text/javascript" charset="utf-8">
  setTimeout(function(){ location.reload() }, 30000)
</script>

<p>
  Getting the code:
  <code>
    <%= "git clone git://#{request.host}/robotwars-arena" %>
  </code>
</p>
